<div class="container">
      
    <div class="row">
     
        <div class="col-md-6">
            <div class="card">
             
                <div class="box">
                  
                    <h2 style="color: aliceblue;">Welcome to ABC Bank</h2>
                    <p class="text-muted"> We believe that creating an inclusive and supportive culture is not only right thing to do,
                      but also what is best for our business.
                      it makes us better at understanding the needs of our customers and clients, and it creates a sense of belonging 
                      and values that enable our colleagues to perform at their best.
                    </p> 
                     <!-- Button trigger modal -->
                     <form>
                  <input  (click)="login()" type="submit"  value="Customer Login" >
                  </form>
                  <form >
                  <input  (click)="login()" type="submit"  value="Employee Login" >
                  
                 
                </form>
            </div>
        </div>
    </div>
</div>
