<!-- customer details -->
<div class="d-flex mt-3" style="justify-content:center">
    <div class="card col-md-8" style="width: 950px; background: rgb(0, 0, 0); /* Fallback color */
                          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                          color: #f1f1f1;">
        <div class="card-body">
            <div class="d-flex" style="justify-content:center;">
                <caption>
                    <h3>Customer Details</h3>
                </caption>
            </div>
            <br><br>
            <div class="d-flex" style="justify-content:center;">
                <caption>
                    <h5>Personal Details</h5>
                    <br>
                </caption>
            </div>
            <div class="d-flex" style="justify-content:center">
                <table cellpadding="5" class="center" style="width: 900;">
                    <tr>
                        <th>CUSTOMER ID</th>
                        <th>CUSTOMER NAME</th>
                        <th>DOB</th>
                        <th>PAN</th>
                        <th>ADDRESS</th>
                    </tr>
                    <tr>
                        <td>
                            {{customer.userid}}
                        </td>
                        <td>
                            {{customer.username}}
                        </td>
                        <td>
                            {{customer.dateOfBirth}}
                        </td>
                        <td>
                            {{customer.pan}}
                        </td>
                        <td>
                            {{customer.address}}
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="d-flex" style="justify-content:center;">
                <caption>
                    <h5>Account Details</h5>
                    <br>
                </caption>
            </div>
            <div class="d-flex" style="justify-content:center">
                <table cellpadding="5" class="center" style="width: 900;">
                    <tr>
                        <th>ACCOUNT ID</th>
                        <th>CURRENT BALANCE</th>
                        <th>ACCOUNT TYPE</th>
                        <th>OWNER NAME</th>
                    </tr>

                    <tr *ngFor="let acc of customer.accounts ">

                        <td>
                            {{acc.accountId}}
                        </td>
                        <td>
                            {{acc.currentBalance}}
                        </td>
                        <td>
                            {{acc.accountType}}
                        </td>
                        <td>
                            {{acc.ownerName}}
                        </td>
                    </tr>

                </table>
            </div>
            <br>

        </div>
    </div>
</div>

<!--------------------- History------------------>
<div class="d-flex mt-3" style="justify-content:center">
    <div class="card   " style="width: 950px;  background: rgb(0, 0, 0); /* Fallback color */
                    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                    color: #f1f1f1;">
        <div class="card-body">
            <div class="d-flex" style="justify-content:center;flex-direction: column;">
                <caption>
                    <h2 style="text-align:center;">Transaction Details</h2>
                </caption>
                <br>
                <br>
                <div class="d-flex" style="justify-content:center">
                    <form action="/customerdashboard/getTransactionsInCustomerdashboard" method="post">
                        <select style="font-family: serif; font-size: 25;font-weight:bold;" path="accountId"
                            name="accountId">
                            <div *ngFor="let acc of customer.accounts">
                                <option value={{acc.accountId }}>Account No: {{acc.accountId }}</option>
                            </div>
                        </select>
                        <br><br>
                        
                        <input class="btn btn-primary" type="submit" value="Submit" />
                
                    </form>
                </div>
                
                <br>
                <div *nfIf="empty transactions">
                    <table cellpadding="5">

                        <tr>
                            <th>sourceAccountId</th>
                            <th>sourceOwnerName</th>
                            <th>targetAccountId</th>
                            <th>targetOwnerName</th>
                            <th>amount</th>
                            <th>initiationDate</th>
                            <th>reference</th>
                        </tr>

                        <tr *ngFor="let trans of transactions">

                            <td>
                                {{trans.sourceAccountId}}
                            </td>
                            <td>
                                {{trans.sourceOwnerName}}
                            </td>
                            <td>
                                {{trans.targetAccountId}}
                            </td>
                            <td>
                                {{trans.targetOwnerName}}
                            </td>
                            <td>
                                {{trans.amount}}
                            </td>
                            <td>
                                {{trans.initiationDate}}
                            </td>
                            <td>
                                {{trans.reference}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------- WITHDRAW------------------>
<div class="d-flex mt-3" style="justify-content:space-around">
    <div class="card col-md-5 " style="width: 400px; background: rgb(0, 0, 0); /* Fallback color */
                          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                          color: #f1f1f1;">
        <div class="card-body">
            <h4 class="card-title">Withdraw Amount</h4>
            <form method="post">
                <select path="accountId" name="accountId">
                    <div *ngFor="let acc of customer.accounts">
                        <option value={{acc.accountId }}></option>
                    </div>
                </select>
                <br><br>
                <label>Enter Amount:</label><span class="required" style="color: red;"> *</span><br>
                <input type="number" path="amount" name="amount" placeholder="Enter the amount" required="required" />
                <input type="hidden" name="reference" value="withdraw" />
                <br><br>
                <h6>Minimum balance of 1000 Rs. should be maintained</h6>
                <br><br> <input type="submit" name="View" value="Withdraw Amount" class="btn btn-success" /><br>
            </form>
            <br>
            <p style="font-family: Bradley Hand ITC; color: cornflowerblue;" id="message"></p>
        </div>
    </div>
    <br><br><br>
    <!--------------------- TRANSFER------------------>

    <div class="card col-md-5 mt-3" style=" padding-left: 20;position: relative; width: 400px;height:400px; background: rgb(0, 0, 0); /* Fallback color */
                          background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                          color: #f1f1f1;">
        <div class="card-body">
            <h4 class="card-title">Transfer Amount</h4>
            <form method="post">
                <select path="accountId" name="accountId">
                    <div *ngFor="let acc of customer.accounts">
                        <option value={{acc.accountId }}></option>
                    </div>
                </select>
                <br><br><label for="targetAccount">Enter Account No:</label><span class="required" style="color: red;">
                    *</span><br>
                <input type="number" name="targetAccount" placeholder="Enter the Target Account ID"
                    required="required" />
                <br> <br>
                <label for="amount">Enter Amount:</label><span class="required" style="color: red;">
                    *</span><br>
                <input type="number" name="amount" placeholder="Enter the amount" required="required">
                <input type="hidden" name="reference" value="transfer" />

                <br><br>
                <h6>Minimum balance of 1000 Rs. should be maintained</h6>
                <br> <input type="submit" name="View" value="Transfer Amount" class="btn btn-success" /><br>
            </form>
            <br>
            <p style="color: cornflowerblue;" id="message"></p>
        </div>
    </div>
</div>