<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand ms-3">ABC Bank</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
              <a  class="nav-link" routerLink="home" routerLinkActive="true">Home </a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
              <a class="nav-link" routerLink="login" routerLinkActive="true">Login</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <!-- <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li> -->
          <li class="nav-item">
              <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
      </ul>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>